* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: rgba(198, 196, 192, 0.108);
}

#logo {
    margin: 0px 35px
}

#logo img {
    height: 40px;
    width: 65px;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: rgb(228, 247, 247);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: rgb(9, 7, 7);
    display: block;
    margin: 10px;
    padding: 5px 40px;
    text-decoration: none;
    border-radius: 10px;
}

#navbar ul li a:hover {
    color: black;
    background-color: rgb(196, 24, 18);
    box-shadow:5px 5px 20px rgb(37, 37, 220) ;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 650px;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: "";
    background: url('Background.jpg') no-repeat center center/cover;
    position: absolute;
    height: 738px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.7;
}

#home h1 {
    color: rgb(93, 40, 5);
    text-align: center;
}

#home h2 {
    color: rgb(105, 25, 25);
    text-align: center;
}

#home p {
    color: rgb(84, 3, 3);
    text-align: center;
    font-size: 1.2rem;
}

#home h1:hover {
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    text-shadow: 10px 10px 20px rgb(101, 195, 82);

}

#home h2:hover {
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    text-shadow: 10px 10px 20px rgb(101, 195, 82);

}

.h-primary {
    font-size: 2.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(230, 22, 22);
    color: antiquewhite;
    margin: 17px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    padding: 6px 20px;
    border: 2px solid rgb(19, 229, 54);
    background-color: white;
    color: orange;
    margin: 17px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 25px rgb(26, 238, 79);
    transition: all 200ms ease-out;
}

.center {
    text-align: center;
}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
}

#services {
    margin: 34px;
    display: flex;
}
#services-section h1{
    background-color: rgba(198, 196, 192, 0.793);
    box-shadow: 10px 10px 35px rgb(16, 16, 16);
    padding-top: 0px;
    margin-top:30px;
}

#services-section h1:hover {
    color: rgb(255, 51, 0);
    cursor: pointer;
    text-shadow: 10px 10px 15px rgb(237, 113, 85);
}

#services .box {
    border: 2px solid red;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 27px;
    background-color: rgb(210, 35, 35);
    cursor: pointer;
}

#services .box:hover {
    background-color: rgb(252, 154, 154);
    box-shadow: 8px 8px 25px rgb(26, 51, 238);
}

#services .box img {
    height: 156px;
    display: block;
    margin: auto;
}

#client-section {
    height: 344px;
}

#client {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}
#client-section h1{
    background-color: rgba(169, 169, 169, 0.712);
    box-shadow: 5px 5px 35px rgb(16, 16, 16);
}
#client-section h1:hover {
    color: rgb(255, 51, 0);
    cursor: pointer;
    text-shadow: 10px 10px 15px rgb(237, 113, 85);
}


#client img {
    height: 125px;
    width: 125px;
    border: 2px solid rgba(230, 22, 22, 0.151);
    border-radius: 10px;
    cursor: pointer;
}

#client img:hover {
    box-shadow: 10px 10px 15px rgb(16, 16, 16);
    transition: all 200ms ease-out;
}

.client-item {
    padding: 50px;
}

#client-section::before {
    content: "";
    background: url('Background2.jpg') no-repeat center center/cover;
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#contact::before{
    content: "";
    background: url('Background4.jpg') no-repeat center center/cover;
    position: absolute;
    height: 742px;
    width: 100%;
    z-index: -1;
    /* opacity: 0.7; */
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:4px;
}
#contact-box input,
#contact-box textarea
{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    color: aliceblue;
    padding-top: 10px;
}
#contact h1{
    margin-top: 20px;
    background-color: rgba(198, 196, 192, 0.41);
    box-shadow: 10px 10px 25px rgb(16, 16, 16);
}
#contact h1:hover {
    color: rgb(255, 51, 0);
    cursor: pointer;
    text-shadow: 10px 10px 15px rgb(237, 113, 85);
}
.form-groups label{
    padding: 5px;
}
.from{
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    color: black;
    background-color: aliceblue;
}
.from:hover{
    cursor: pointer;
    background-color: rgb(116, 116, 226);
    color: aliceblue;
    box-shadow: 5px 5px 25px blue;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}